
/**************************************** BREAKPOINT ****************************************/

$phone: 500px;
$tablet: 800px;
$laptop: 1280px;
$laptop-large: 1338px;
$desktop: 1525px;

/**************************************** INPUT AND SELECT ****************************************/

$form-input-text: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select';