/**************************************** Reset custom ****************************************/

a {
    text-decoration: none;
    transition: all .2s ease;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}