/**************************************** Members0006 ****************************************/
body {
    text-transform: uppercase;
    font-style: italic;
}

.members0006 {
    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        &.container-narrow {
            max-width: 480px;
        }
    }

    .icon-search {
        width: 20px;
        height: 20px;
    }

    .header {
        background-color: #000;
        padding: 20px 0;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        max-width: 190px;
        display: block;
        img {
            width: 100%;
        }
    }

    .nav-list {
        display: flex;
    }

    .nav-list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #161619;
        border: 2px solid #2c2c2c;
        border-radius: 20px;
        margin-left: 10px;

        &:hover,
        &.is-active {
            background-color: #2c2c2c;
        }
    }

    .main {
        padding: 30px 0;
    }

    .search-wrapper {
        margin-bottom: 35px;

        form {
            position: relative;
            margin: 0 auto;
            max-width: 300px;
            width: 100%;
        }

        &.search-wrapper-flex {
            display: flex;
            align-items: center;

            .btn {
                margin-right: 10px;
            }

            form {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    .input {
        background-color: #e1e1e1;
        border-radius: 10px;
        color: #676767;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 40px 10px 10px;
        font-style: italic;
        width: 100%;

        @include input-placeholder() {
           color: #979797;
        }
    }

    .search-button {
        background-color: #db0f0f;
        color: #fff;
        border: none;
        border-radius: 8px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3px;
    }

    .games-wrapper {
        margin: 0 0 15px;

        @include breakpoint(min-tablet){
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7px 30px;
        }
    }

    .games-wrapper-item {
        @include breakpoint(min-tablet){
            max-width: 25%;
            width: 25%;
            padding: 0 7px;
            margin-bottom: 14px;
        }
    }

    .games-wrapper-title,
    .game-inner-title {
        text-align: center;
        color: #fff;
        font-size: 14px;
        margin-bottom: 15px;
        width: 100%;
        max-width: 100%;
    }

    .games-wrapper-image {
        border-radius: 10px;
        background-size: cover;
        display: block;
        padding-bottom: 100%;
    }

    .game-inner-image {
        border-radius: 10px;
        padding-bottom: 230px;
        background-size: cover;
    }

    .pagination {
        display: flex;
    }

    .pagination-item {
        border-radius: 8px;
        background-color: #ffffff;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-right: 6px;
        height: 30px;
        width: 30px;

        &:hover,
        &.is-active {
            background-color: #db0f0f;
            color: #fff;
        }
    }

    .btn {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        display: inline-block;
        background-color: #f40f46;
        border-radius: 10px;
        padding: 10px 30px;
    }

    .cta-wrapper {
        text-align: center;
    }
}
