/*==================================================
  template0001
===================================================*/

.container {
    max-width: 600px;
    margin: 0 auto;
}

.site-header {
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.logo-header {
    display: inline-block;
}

.content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 50px;
}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(120px, auto);
    grid-gap: 20px;
}

.big {
    grid-column: span 2;
}

.landscape {
    grid-column: span 3;
}

.intro-cta {
    background-color: #ffffff;
    padding: 70px 30px 40px;
}

.intro-cta-text {
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
}