/**************************************** Landing0003 ****************************************/

.landing0003 {
    background-color: #000;
    position: relative;
    font-family: 'Montserrat', sans-serif;

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Quicksand', sans-serif;
    }

    h2 {
        font-size: 55px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    p {
        line-height: 1.3;
        font-size: 16px;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .icon {
        fill: currentColor;
        transition: all .2s ease;
    }

    .icon-arrow-right {
        width: 39px;
        height: 34px;
    }

    .main-form-wrapper,
    .signin-reset-wrapper {
        display: none;
    }

    &.form-signup {
        .hero {
            display: none;
        }

        .main-form-wrapper {
            display: block;
        }
    }

    &.form-signin {
        .hero {
            display: none;
        }

        .main-form-wrapper {
            display: none;
        }

        .signin-reset-wrapper {
            display: block;
        }
    }

    .container {
        max-width: 1210px;
        margin: 0 auto;
        padding: 0 20px;
    }

    header {
        position: absolute;
        width: 100%;
        top: 55px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-item {
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 25px;

            &:hover {
                color: #FFAE00;
            }
        }
    }

    .hero-wrapper,
    .main-form-wrapper,
    .signin-reset-wrapper {
        padding-top: 109px;
        border: 20px solid #FFAE00;
    }

    .hero-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 70px 0 40px;
    }

    .hero-content-item {
        padding-left: 95px;
    }

    .hero-content-item-left {
        max-width: 475px;
        width: 100%;
    }

    .hero-text,
    .main-form-content-text {
        color: #fff;
    }

    .hero-link {
        border: 6px solid #FFAE00;
        color:  #FFAE00;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 138px;
        width: 138px;

        &:hover {
            .icon-arrow-right {
                transform: translateX(50%);
            }
        }
    }

    .hero-image,
    .hero-cta,
    .main-form-content,
    .main-form-image {
        display: flex;
    }

    .hero-image-item-left,
    .main-form-content-item-left,
    .main-form-image-left {
        max-width: 60%;
        width: 60%;
    }

    .hero-image-item-right,
    .main-form-content-item-right,
    .main-form-image-right {
        max-width: 40%;
        width: 40%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    .hero-image-item-left {
        .with-image {
            background-size: cover;
            height: 440px;
            max-width: 815px;
            margin: 0 0 0 auto;
        }
    }

    .hero-image-item-right {
        .no-image {
            background-color: #CB0000;
            position: relative;
            flex-grow: 1;
            max-width: 340px;
    
            img {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) translateX(30%);
            }
        } 
    }

    .hero-cta-image {
        padding-bottom: 18%;
        max-width: 60%;
        width: 60%;
        background-size: cover;
    }

    .hero-cta-link {
        background-color:#FFAE00;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        width: 40%;

        &:hover {
            .icon-arrow-right {
                transform: translateX(50%);
            }
        }
    }

    .hero-cta-txt {
        font-size: 22px;
        font-weight: 700;
        margin-right: 20px;
        text-transform: uppercase;
    }

    .signup-wrapper,
    .reset-form,
    .signin-reset-wrapper .main-form-content {
        padding-top: 115px;
    }

    .label {
        color: #fff;
        display: block;
        font-size: 12px;
        padding: 0 0 10px 25px;
    }

    .form-holder  {
        padding: 0 160px 0 30px;
        max-width: 475px;
        margin: 0 0 0 auto;
    }

    .form-field-wrapper {
        margin-bottom: 20px;
    }

    .input {
        color: #383838;
        font-weight: 700;
        font-size: 14px;
        padding: 20px 25px 12px;
        width: 100%;
    }

    .cta-wrapper {
        padding-top: 10px;
    }

    .button-submit,
    .button-signup {
        background-color: #FFAE00;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    .main-form-content-text {
        transform: translateX(-95px);
    }

    .main-form-content-item-right {
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #CB0000;
            z-index: -1;
        }
    }

    .main-form-content-text {
        padding: 50px 0 60px 0;
    }

    .main-form-image-left {
        height: 290px;
        background-size: cover;
        background-position: center;
    }

    .main-form-image-right {
        background-color: #CB0000;

        img {
            transform: translateX(100%);
        }
    }

    .signin-form-nav,
    .reset-form-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-link {
        text-transform: uppercase;
        color: #fff;
        text-decoration: underline;
        font-size: 10px;
        margin-top: 15px;

        &:hover {
            color: #FFAE00;
        }
    }

    footer {
        padding: 60px 0 20px;
    }

    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-wrapper-item {
        &.left-item {
            max-width: 33.3%;
            width: 33.3%;
        }

        &.right-item {
            max-width: 66.6%;
            width: 66.6%;
        }
        
        &.full-item {
            max-width: 100%;
            width: 100%;
        }
    }
    
    .footer-nav-link,
    .company-info,
    .copyright {
        color: #fff;
    }

    .footer-nav {
        margin-bottom: 25px;
    }

    .footer-nav-link {
        font-size: 16px;
        margin-right: 25px;
        font-weight: 700;

        &:hover {
            color: #FFAE00;
        }
    }

    .company-info {
        font-size: 11px;
    }

    .copyright {
        display: block;
        font-weight: 700;
        font-size: 10px;
        padding-top: 85px;
        text-align: center;
    }
}