/*==================================================
  template0002
===================================================*/


/*=== Global ===*/

$page_max_width: 1200px;
$container-spacing: 15px;

.hide-from-screen {
    left: -10000px !important;
    position: absolute !important;
}

.hidden,
.hide {
    display: none !important;
    visibility: hidden !important;
}

* {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

h2, p {
    margin: 0;
}

.site-footer {

    * {
        font-family: 'Roboto', sans-serif;
    }
}

.container {
    max-width: $page_max_width + ($container_spacing * 2);
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    border: 1px solid #6bce18;
    background-color: #78ff00;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    transition: ease-in-out .3s;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 14px #78ff00;
        background-color: transparent;
        color: #6bce18;
        outline: none;
    }
}

.btn-small {
    font-size: 14px;
    font-weight: 500;
    min-width: 90px;
    padding: 6px 15px;
}

.btn-big {
    font-size: 24px;
    font-weight: 700;
    padding: 14px 40px;

    @include breakpoint(phone) {
        width: 100%;
    }
}

/*=== Header ===*/

.site-header {
    background-color: #000000;
    border-bottom: 1px solid #b0ff2a;
    padding: 14px 0;;
    position: absolute;
    width: 100%;

    a {
        display: inline-block;
        text-decoration: none;
    }

    .sign-up-link {
    display: none;

        .form-signin & {
            display: block;
        }
    }

    .t-signin-link {

        .form-signin & {
            display: none;
        }
    }

}

.site-header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.site-header-text {
    font-size: 12px;
    color: #b0ff2a;
    font-weight: 700;
    padding-right: 10px;
    text-transform: uppercase;

    @include breakpoint(min-phone) {
        font-size: 24px;
        padding-right: 0;
    }
}

/*=== Content ===*/

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;

    @include breakpoint(min-phone) {
        padding-top: 160px;
    }
}

.content-wrapper {
    align-items: center;
    background-color: rgba(0,0,0, .6);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 0 40px auto;
    padding: 50px 20px;
    width: 100%;

    @include breakpoint(min-phone) {
        padding: 50px 70px;
    }
}

.site-logo {
    max-width: 70vw;
}

.signup,
.signin {
    width: 100%;
}

/*=== Form ===*/

.form-title,
.signin-form-title {
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0 30px;
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(min-phone) {
        font-size: 24px;
        margin: 30px 0 50px;
    }
}

.form-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 40px;

    @include breakpoint(min-phone) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-field-wrapper {
    text-align: center;
    width: 100%;
}

.label {
    color: #78ff00;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

.input {
    border-radius: 10px;
    background-color: #000000;
    border: 1px solid #78ff00;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 15px;
    transition: ease-in-out .3s;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 14px #78ff00;
        outline: none;
    }
}

.cta-wrapper {
    margin-top: 30px;
    text-align: center;
    width: 100%;

    @include breakpoint(min-phone) {
        grid-column: 1 / 3;
    }

    .form-signin & {
        margin-top: 60px;
    }
}

/*=== signin and password reset ===*/

.signin-wrapper,
.forgot-password-wrapper {
    position: relative;
}

.essential-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-bottom: 20px;

    @include breakpoint(min-phone) {
        grid-template-columns: 1fr 1fr;
    }
}

.signin-subtitle,
.signin-form-subtitle {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.signin-form-nav,
.reset-form-nav {
    bottom: 90px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.signin {

    .forgot-password-link,
    .sign-up-link,
    .go-back-link {
        color: #ffffff;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
}


.not-member-text {
    display: none;
}

/*=== footer ===*/

.site-footer {
    background-color: rgba(0,0,0, .6);
    color: #ffffff;
    font-size: 10px;
    margin-top: auto;
    padding: 20px 15px;
}

.container-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    @include breakpoint(min-phone) {
        flex-direction: row;
    }
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    text-align: center;

    @include breakpoint(min-phone) {
        margin: 0;
        text-align: left;
    }
}

.footer-company-text {
    text-align: center;

    @include breakpoint(min-phone) {
        text-align: right;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
        font-size: 12px;
        list-style: none;
        padding: 0 0 10px 0;

        &:not(:last-of-type) {

            @include breakpoint(min-phone) {
                padding: 0 30px 0 0;
            }
        }

        &:nth-last-child(2) {

            @include breakpoint(min-phone) {
                padding-bottom: 0;
            }

            .form-signin & {

                @include breakpoint(min-phone) {
                    padding-right: 0
                }
            }
        }
    }

    a {
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
    }

    @include breakpoint(min-phone) {
        flex-direction: row;
    }
}